@import url(./reset.css);

div.header{
    position: relative;
    height: 146px;
    padding-top: 30px;
    box-sizing: border-box;
    span.menu{
        position: absolute;
        top: 50px;
        left: 50px;
        font-size: 50px;
    }
    h2{
        font-size: 61px;
        font-weight: bold;
        text-align: center;
    }
    span.site{
        position: absolute;
        top: 50px;
        right: 5%;
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
    }
}